<div id="api_responses" class="h-32 overflow-y-auto p-2 bg-gray-100 rounded text-sm font-mono">
  <% if flash[:api_message] %>
    <div class="<%= flash[:api_error] ? 'text-gray-800' : 'text-gray-800' %>">
      <%= flash[:api_message] %>
    </div>
  <% else %>
    <div class="text-gray-500">Responses will appear here...</div>
  <% end %>
</div> 